<div class="homepage-container">
  <div class="carousel-container">
    <ngb-carousel class="carousel-content" *ngIf="images">
      <ng-template class="carousel-slide" ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper" style="  background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.427),
            rgba(0, 0, 0, 0.227),
            rgba(0, 0, 0, 0.2)
          ),
          url({{image}});">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="main-caption-container">
    <div class="main-caption">
      <div class="caption-title">
        How to:
      </div>
      <div class="caption-steps-content">
        <div class="caption-step-one">
          <div class="caption-icon">
            <mat-icon>location_on</mat-icon>
          </div>
          <div class="caption-description">
            Select salon from your city
          </div>
        </div>
        <div class="caption-step-two">
          <div class="caption-icon">
            <mat-icon>content_cut</mat-icon>
          </div>
          <div class="caption-description">
            Choose the service you need
          </div>
        </div>
        <div class="caption-step-three">
          <div class="caption-icon">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="caption-description">
            Pick your favorite barber
          </div>
        </div>
        <div class="caption-step-four">
          <div class="caption-icon">
            <mat-icon>date_range</mat-icon>
          </div>
          <div class="caption-description">
            Select one of the available date
          </div>
        </div>
      </div>
      <div class="caption-button">
        <button mat-raised-button class="schedule-button" routerLink="/salons">Schedule a haircut!</button>
      </div>
    </div>
  </div>
</div>
