<mat-toolbar class="navbar-toolbar" [ngClass]="{'show-navbar-toolbar': windowScrolled}">
  <div class="navbar-toolbar-content">
    <mat-icon style="color:black">content_cut</mat-icon>
    <span class="navbar-title" routerLink="/">Hair Appointments</span>
    <nav class="navbar-content" [ngClass]="{'scrolled-navbar-item': windowScrolled}">
      <a class="navbar-item" routerLink="/salons" >Salons</a>
      <a class="navbar-item" routerLink="/login">My Account</a>
    </nav>
    <div class="mobile-navbar-content">
      <div class="navbar-hamburger">
        <button mat-icon-button class="hamburger-button" style="color:white" (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 120 : 0">
  <mat-sidenav class="sidenav-container" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="120">
    <mat-nav-list class="sidenav-items">
      <a class="sidenav-dashboard" routerLink="/salons">Salons</a>
      <a class="sidenav-dashboard" routerLink="/login">My Account</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
