.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: var(--main-color);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: var(--main-color);
}

.dialog-container {
    width: 100%;
    height: 100%;
}

:host /deep/ .mat-dialog-content { 
    display: flex;
    flex-direction: column;
}

:host /deep/ .mat-dialog-actions{
  justify-content:center;
}

:host /deep/ .mat-dialog-title{
  text-align: center;
}

.add-review-button{
  width: 50%;
  border: 1px solid var(--main-color);
  color:white;
  transition: 0.5s;
  border-radius: 15px;
}

.add-review-button:hover{
  background-color: var(--main-color);
}

.info-button{
  box-shadow: none;
}
