.homepage-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-content {
  height: 100%;
  width: 100%;
}

:host /deep/ .carousel-inner {
  height: 100%;
}

:host /deep/ .carousel-item {
  height: 100%;
}

.picsum-img-wrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  height: 100%;
}

.main-caption-container {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-caption {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 50px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 10%;
}

.caption-steps-content {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.caption-title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 15%;
}

.caption-step-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 23%;
  align-items: center;
  transition: 0.5s;
}

.caption-step-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 23%;
  align-items: center;
  transition: 0.5s;
}

.caption-step-question{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 23%;
  align-items: center;
  text-align:center;
}

.create-account-link{
  cursor: pointer;
  color:rgb(133, 133, 133);
}

.create-account-link:hover{
  color:var(--main-color);
  text-decoration: underline;
}

.caption-description {
  color: rgb(189, 189, 189);
  text-align: center;
}

.caption-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
  height: 15%;
  align-items: center;
}

.schedule-button {
  color: white;
  background-color: var(--main-color);
  border-radius: 25px;
  height: 35px;
  width: 50%;
}

.schedule-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid var(--main-color);
}

label {
  padding-top: 2rem;
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: rgb(23, 127, 150);
}

input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 60%;
  border: 1px solid var(--main-color);
  background: rgba(255, 255, 255, 0);
  color: white;
}

.input::placeholder {
  color: #595959;
  font-size: 12px;
}

input:focus {
  outline: white
    auto 1px;
}
