<div class="salons-main-content">
  <div class="salons-main-container">
    <div class="sorting-filtering-container">
      <div class="salon-filters">
        <div class="filters-accordeons">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  City
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list #cities>
                <mat-list-option *ngFor="let city of salonsCities" (click)="handleSelectedCity(city)">
                  {{city}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider></mat-divider>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Rating
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list #ratings>
                <mat-list-option *ngFor="let rating of ratingNumbers" (click)="handleSelectedRating(rating)">
                  <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  <ngb-rating [(rate)]="ratingNumbers[rating]" [starTemplate]="t" [readonly]="true" [max]="5">
                  </ngb-rating>
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>

    <div class="salons-container">
      <div class="salons-container-content">
        <div class="sort-search">
          <div class="sort-bar">
            <mat-form-field appearance="outline">
              <mat-label>Sort by</mat-label>
              <mat-select>
                <mat-option *ngFor="let option of sortingOptions" [value]="option" (click)="sortSalons(option)">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="search-bar">
            <mat-form-field class="example-form-field" appearance="outline" style="padding-bottom: none !important">
              <mat-label style="color:gray">Search</mat-label>
              <input matInput type="text" [(ngModel)]="value" (ngModelChange)="searchSalon()">
              <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="searchSalon()">
              <mat-icon>search</mat-icon>
            </button> -->
            </mat-form-field>
          </div>
        </div>
        <div class="filters-applied" *ngIf="selectedCities.length > 0 || selectedRatings.length > 0">
          <div class="filters-aplied-title">
            Filters:
          </div>
          <div class="filter-chips">
            <mat-chip-list aria-label="City selection">
              <mat-chip *ngFor="let city of selectedCities">
                {{city}}
              </mat-chip>
              <mat-chip *ngFor="let rating of selectedRatings">
                {{rating}} stars
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="salon-content">
          <div *ngIf="isSearch == true">
            <div class="salon-for" *ngFor="let salon of searchedSalons">
              <a class="salon-presentation" routerLink="detail/{{salon.id}}">
                <div class="salon-image" [style.backgroundImage]="'url('+ createImgPath(salon.image) +')'" *ngIf="salon.image !== ''">

                </div>
                <div class="address">
                  <div class="salon-name">
                    {{salon.name}}
                  </div>
                  <div class="salon-rating">
                    <mat-icon class="rating-icon">star</mat-icon>
                    <div class="rating-content">
                      {{salon.rating}}
                    </div>
                  </div>
                  <div class="salon-address" (click)="navigate(salon)" *ngIf="salon.address !== null">
                    <mat-icon class="address-icon"> pin_drop</mat-icon>
                    <div class="address-content">
                      Street {{salon.address.street}} {{salon.address.number}}, {{salon.address.city}}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div *ngIf="isSearch == false && filtersApplied == false">
            <div class="salon-for" *ngFor="let salon of salons">
              <div class="salon-presentation" routerLink="detail/{{salon.id}}">
                <div class="salon-image" [style.backgroundImage]="'url('+ createImgPath(salon.image) +')'" *ngIf="salon.image !== ''">

                </div>
                <!-- <div class="salon-image">
                  <img class="example-header-image" src={{salon.image}}>
                </div> -->
                <div class="address">
                  <div class="salon-name">
                    {{salon.name}}
                  </div>
                  <div class="salon-rating">
                    <mat-icon class="rating-icon">star</mat-icon>
                    <div class="rating-content">
                      {{salon.rating}}
                    </div>
                  </div>
                  <div class="salon-address" (click)="navigate(salon)" *ngIf="salon.address !== null">
                    <mat-icon class="address-icon"> pin_drop</mat-icon>
                    <div class="address-content">
                      Street {{salon.address.street}} {{salon.address.number}}, {{salon.address.city}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="isSearch == false && filtersApplied == true">
            <div class="salon-for" *ngFor="let salon of filteredSalons">
              <div class="salon-presentation" routerLink="detail/{{salon.id}}">
                <div class="salon-image" [style.backgroundImage]="'url('+ createImgPath(salon.image) +')'" *ngIf="salon.image !== ''">

                </div>
                <div class="address">
                  <div class="salon-name">
                    {{salon.name}}
                  </div>
                  <div class="salon-rating">
                    <mat-icon class="rating-icon">star</mat-icon>
                    <div class="rating-content">
                      {{salon.rating}}
                    </div>
                  </div>
                  <div class="salon-address" (click)="navigate(salon)" *ngIf="salon.address !== null">
                    <mat-icon class="address-icon"> pin_drop</mat-icon>
                    <div class="address-content">
                      Street {{salon.address.street}} {{salon.address.number}}, {{salon.address.city}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
