<div class="salon-details-main-container">
  <div class="salon-details-content-container">
    <div class="salon-details-content">
      <div class="salon-details-content-header">
        <div class="salon-details-photo">
          <img src={{salon.logo}} class="salon-details-image" alt="">
        </div>
        <div class="salon-details-name">
          {{salon.name}}
        </div>
        <div class="salon-details-rating">
          {{salon.rating}}
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>

          <ngb-rating [(rate)]="salon.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

          ({{reviews.length}} reviews)
        </div>
      </div>
      <div class="salon-details-menu">



        <mat-selection-list #navigation [multiple]="false">

          <mat-list-option [value]="menuItems[0]">
            <mat-icon class="salon-details-menu-icon">date_range</mat-icon>{{menuItems[0]}}
          </mat-list-option>
          <mat-list-option [value]="menuItems[1]">
            <mat-icon class="salon-details-menu-icon">view_list</mat-icon>{{menuItems[1]}}
          </mat-list-option>
          <mat-list-option [value]="menuItems[2]">
            <mat-icon class="salon-details-menu-icon">account_circle</mat-icon>{{menuItems[2]}}
          </mat-list-option>
          <mat-list-option [value]="menuItems[3]">
            <mat-icon class="salon-details-menu-icon"> location_on</mat-icon>{{menuItems[3]}}
          </mat-list-option>
          <mat-list-option [value]="menuItems[4]">
            <mat-icon class="salon-details-menu-icon"> reviews_outlined</mat-icon>{{menuItems[4]}}
          </mat-list-option>
        </mat-selection-list>

      </div>
    </div>
    <div class="salon-details-services-content">
      <div class="salon-details-services-header">
        {{navigation.selectedOptions.selected[0]?.value}}
      </div>
      <div class="salon-details-service-list" *ngIf="navigation.selectedOptions.selected[0].value ===menuItems[0]">
        <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
          <mat-step [stepControl]="firstFormGroup" label="Select Service">
            <form [formGroup]="firstFormGroup">
              <div class="salon-details-service" *ngFor="let service of services">
                <button mat-button class="salon-service" matStepperNext>
                  <div class="button-content">
                    <div class="button-text">
                      <div class="service-name">
                        {{service.serviceName}}
                      </div>
                      <div class="service-cost">
                        {{service.cost}} lei
                      </div>
                    </div>
                    <div class="service-time">
                      <mat-icon class="service-time-icon">timelapse</mat-icon> {{service.serviceTime}} min
                    </div>
                  </div>
                  <div class="button-forward-icon">
                    <i class="fas fa-chevron-right" style="color:var(--main-color); font-size: 20px;"></i>
                  </div>
                </button>
                <mat-divider></mat-divider>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Select Barber">
            <form [formGroup]="secondFormGroup">
              <div class="salon-details-service" *ngFor="let barber of barbers">
                <button mat-button class="salon-service" matStepperNext>
                  <div class="button-content">
                    <div class="barber-photo-content">
                      <img src="{{barber.image}}" class="barber-photo">
                    </div>
                    <div class="barber-button-text">
                      <div class="barber-firstname">
                        {{barber.firstName}}
                      </div>
                      <div class="barber-lastname">
                        {{barber.lastName}}
                      </div>
                    </div>
                  </div>
                  <div class="button-forward-icon">
                    <i class="fas fa-chevron-right" style="color:var(--main-color); font-size: 20px;"></i>
                  </div>
                </button>
                <mat-divider></mat-divider>
              </div>
              <div>
                <button mat-button matStepperPrevious class="back-button">Back</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup" label="Select Date">
            <form [formGroup]="thirdFormGroup">
              <div class="calendar-form">
                <mat-card class="demo-inline-calendar-card">
                  <mat-calendar [(selected)]="selected" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
                </mat-card>
                <div class="hours-available">
                  <button mat-button class="mat-chip" *ngFor="let time of availableTimes" (click)="setTimeToDate(time)"
                    matStepperNext>
                    {{time.hour}}:{{time.minute}}
                  </button>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
          </mat-step>
        </mat-stepper>
      </div>
      <!-- <mat-tab-group>
          .
        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="salon-details-menu-icon">date_range</mat-icon>{{menuItems[0]}}
          </ng-template>
          Content 1
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="salon-details-menu-icon">view_list</mat-icon>{{menuItems[1]}}
          </ng-template>
          Content 2
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="salon-details-menu-icon">account_circle</mat-icon>{{menuItems[2]}}
          </ng-template>

          Content 3
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="salon-details-menu-icon"> location_on</mat-icon>{{menuItems[3]}}
          </ng-template>

          Content 3
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="salon-details-menu-icon"> reviews_outlined</mat-icon>{{menuItems[4]}}
          </ng-template>

          Content 3
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</div>
