<div class="user-settings-main-container">
  <div class="user-photo">
    <img [src]="createImgPath(mySalon.image)" alt="profile picture" style="width:100px; height:100px;" *ngIf="mySalon.image != ''">
  </div>
  <mat-tab-group headerPosition="above" bodyOriginState="right">
    <mat-tab label="My Salon">
      <div class="user-settings-container">
        <div class="user-account-details">
          <form class="example-form">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>FirstName</mat-label>
              <input type="string" matInput [formControl]="nameFormControl" [(ngModel)]="mySalon.name"
                (ngModelChange)="checkFormControls()" placeholder="John">
              <mat-error
                *ngIf="(nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength')) && !nameFormControl.hasError('required')">
                Please enter a valid name
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <input type="string" matInput [formControl]="descriptionFormControl" [(ngModel)]="mySalon.description"
                (ngModelChange)="checkFormControls()" placeholder="John">
              <mat-error
                *ngIf="(nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength')) && !nameFormControl.hasError('required')">
                Please enter a valid description
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="mySalon.email"
                (ngModelChange)="checkFormControls()" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input type="string" matInput [formControl]="phonenumberFormControl" [(ngModel)]="mySalon.phoneNumber"
                (ngModelChange)="checkFormControls()" placeholder="0747652147">
              <mat-error
                *ngIf="(phonenumberFormControl.hasError('minlength') || phonenumberFormControl.hasError('maxlength')) && !phonenumberFormControl.hasError('required')">
                Please enter a valid phone number
              </mat-error>
              <mat-error *ngIf="phonenumberFormControl.hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
          </form>
          <div class="caption-button">
            <button mat-raised-button class="schedule-button" type="button" [disabled]="disabledButton"
              (click)="updateSalon()">Save</button>
          </div>
        </div>

        <div class="salon-address-title">
          <h2>Salon Address</h2>
        </div>

        <div class="salon-address-container" *ngIf="mySalon.addressId != 0">
          <div class="address-button-container">
            <button mat-button type="button" (click)="openAddressDialog()" class="add-address-button">
              <div class="add-address-button-content">
                +
              </div>
            </button>
          </div>
        </div>
        <div class="salon-details-address" *ngIf="salonAddress != null">
          <div class="address-content">
            <div class="address-button-text">
              <div class="address-country">
                {{salonAddress.country}}
              </div>
              <div class="address-city">
                {{salonAddress.city}}
              </div>
              <div class="address-street">
                {{salonAddress.street}}
              </div>
              <div class="address-number">
                {{salonAddress.number}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="My Barbers">
      <div class="salon-barbers-container">
        <div class="barber-button-container">
          <button mat-button type="button" (click)="openBarberDialog()" class="add-barber-button">
            <div class="add-barber-button-content">
              +
            </div>
          </button>
        </div>
      </div>
      <div class="salon-details-barber" *ngFor="let barber of myBarbers">
        <div class="barber-content">
          <div class="barber-photo-content" [style.backgroundImage]="'url('+ createImgPath(barber.image) +')'" *ngIf="barber.image !== ''">

          </div>
          <div class="barber-photo-content" *ngIf="barber.image == ''">
            <mat-icon class="user-icon">perm_identity</mat-icon>
          </div>
          <div class="barber-button-text">
            <div class="barber-firstname">
              {{barber.firstName}}
            </div>
            <div class="barber-lastname">
              {{barber.lastName}}
            </div>
            <div class="barber-age">
              {{barber.age}} ani
            </div>
          </div>
        </div>
        <div class="barber-content-actions">
          <div class="delete-icon-content">
            <button mat-button class="delete-button" (click)="deleteBarber(barber.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
          <div class="edit-icon-content">
            <button mat-button class="edit-button" (click)="openUpdateBarberDialog(barber)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="My Services">
      <div class="salon-barbers-container">
        <div class="barber-button-container">
          <button mat-button type="button" (click)="openServiceDialog()" class="add-barber-button">
            <div class="add-barber-button-content">
              +
            </div>
          </button>
        </div>
      </div>
      <div class="salon-details-service" *ngFor="let service of myServices">
        <div class="service-content">
          <div class="service-text">
            <div class="service-name">
              {{service.serviceName}}
            </div>
            <div class="service-cost">
              {{service.cost}} lei
            </div>
          </div>
          <div class="service-time">
            <mat-icon class="service-time-icon">timelapse</mat-icon> {{service.serviceTime}} min
          </div>
        </div>
        <div class="service-content-actions">
          <div class="delete-icon-content">
            <button mat-button class="delete-button" (click)="deleteService(service.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
          <div class="edit-icon-content">
            <button mat-button class="edit-button" (click)="openUpdateServiceDialog(service)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

    </mat-tab>
    <mat-tab label="My Bookings">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
          </th>
          <td mat-cell *matCellDef="let row">
            {{column.cell(row)}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>  
    </mat-tab>

  </mat-tab-group>
</div>
