/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --main-color: #febb02;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F4F4F4;
}

::-webkit-scrollbar{
    width: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background: white;
  }
  
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#ffdf00, rgba(171, 166, 166, 0.687));
    border-radius:25px;
  }
