/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --main-color: #febb02;
  --complementary: #3f72fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%; 
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ffdf00, rgba(171, 166, 166, 0.687));
  border-radius: 25px;
}

.success-snackbar {
  background-color: rgba(15, 202, 15, 0.898);
  color: white;
}

.info-snackbar {
  background-color: rgb(116, 236, 232);
  color: rgb(255, 255, 255);
}

.warning-snackbar {
  background-color: rgba(248, 101, 3, 0.898);
  color: white;
}

.error-snackbar {
  background-color: rgb(250, 46, 46);
  color: white;
}