.salon-details-service {
  transition: 0.5s;
  align-items: center;
  color:black;
}

.salon-details-service:hover {
  border-radius: 10px;
  background-color: rgba(208, 204, 204, 0.544);
}

.service-content {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.service-text {
  text-align: left;
  font-size: 20px;
  width: 50%;
}

.salon-service {
  width: 100%;
  padding: 1rem;
  align-items: center;
  display: flex;
}

.service-name {
  width: 50%;
}

.service-cost {
  font-weight: 100;
}

.service-time {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.service-time-icon {
  margin-right: 1rem;
}

.mat-divider {
  border-top-color: rgba(128, 128, 128, 0.136);
}
