<div class="homepage-container">
  <div class="carousel-container">
    <ngb-carousel class="carousel-content" *ngIf="images">
      <ng-template class="carousel-slide" ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper" style="  background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.427),
              rgba(0, 0, 0, 0.227),
              rgba(0, 0, 0, 0.2)
            ),
            url({{image}});">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="main-caption-container">
    <div class="main-caption" *ngIf="role=='User'">
      <div class="caption-title">
        Register
      </div>
      <div class="caption-steps-content">
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="userRegistration.firstName" placeholder="First Name" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="userRegistration.lastName" placeholder="Last Name" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="userRegistration.phoneNumber" placeholder="Phone Number" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="userRegistration.email" placeholder="Email" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="userRegistration.password" placeholder="Password" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="confirmedPassword" placeholder="Confirm Password" />
        </div>
      </div>
      <div class="caption-button">
        <button mat-raised-button class="schedule-button" (click)="register()">Confirm</button>
      </div>
    </div>

    
    <div class="main-caption" *ngIf="role=='Salon'">
      <div class="caption-title">
        Register Your Salon
      </div>
      <div class="caption-steps-content">
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="salonRegistration.name" placeholder="Salon Name" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="salonRegistration.email" placeholder="Email" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="salonRegistration.phoneNumber" placeholder="Phone Number" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="salonRegistration.password" placeholder="Password" />
        </div>
        <div class="caption-step-one">
          <input #searchBox id="search-box" [(ngModel)]="confirmedPassword" placeholder="Confirm Password" />
        </div>
      </div>
      <div class="caption-button">
        <button mat-raised-button class="schedule-button" (click)="salonRegister()">Confirm</button>
      </div>
    </div>
  </div>
</div>
